[Unit]
Description=Noten Service Server

[Service]
Type=simple
ExecStart=/var/noten/server
Restart=on-failure
WorkingDirectory=/var/noten

# Run as a custom user
#User=someone
#Group=someone


[Install]
WantedBy=multi-user.target